@media (min-width: 1200px){
  html {
    font-size: 125% !important; // 1rem = 20px
  }
}
@media (min-width: 960px){
  html {
    font-size: 100% !important;
  }
}
@media (max-width: 960px) {
  html {
    font-size: 88% !important;
  }
}
@media (max-width: 350px) {
  html {
    font-size: 80% !important;
  }
}
